* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c6d6d8;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
}

.box {
    width: 400px;
    height: 500px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.header {
    height: 20%;
    border-radius: 10px 10px 0 0;
    color: White;
    font-size: 18px;
    font-weight: bold;
    background-color: #01014e;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header .fa-solid {
    width: 30px;
    height: 30px;
    top: 2%;
    right: 4%;
    border-radius: 50%;   
    position: absolute;
    background-color: #25257c;
}

.header .fa-xmark::before {
    line-height: 30px;
}

.content {
    margin: 15%;
}

.content > ul > li {
    font-size: 13px;
    font-family: monospace;
    margin-top: 20px;
    list-style-type: none;
}

.content li p {
    font-size: 16px;
    margin-left: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    border-bottom: 1px solid rgba(192,192,192, 1);
}

.fa-chevron-down::before {
    font-size: 9px;    
    padding-left: 120px;
}

.button {
    width: 180px;
    height: 50px;
    margin: -30px auto;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #25257c;
    border-radius: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
