. {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.box {
    width: 400px;
    border: 2px solid #333;
    margin: 30px auto;
    padding: 10px;
}

.box .boxA {
    font-size: 12px;
    text-align: justify;
    background-color: #8FBC8F;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 15px;
    border: 2px solid grey;
}

